<!-- <h3>Hello, this is a simple Django webpage.</h3> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="60" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Auto trender</title>
  </head>
  <body>
<!-- <p>There have been {{ totPE2 }} views.</p> -->
<div style="display: flex;justify-content: center;align-items: center; margin: 20px;">

  <h1>Strategy 2</h1>
  <!-- <h2>{{mydata}}</h2> -->
</div>
<div style="display: flex;justify-content: center;align-items: center; margin: 20px;">

  <a href="/">Strategy 1</a>

  <!-- <h2>{{mydata}}</h2> -->
</div>

    <!-- <div class="container">

      <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th  scope="col">Time</th>
            <th  scope="col">Price  </th>
            <th  scope="col">sma</th>
            <th  scope="col">RSI</th>

          </tr>
        </thead>
        <tbody>
          {% for record in mydata %}
          <tr>
            <th scope="row">{{record.time}}</th>
            {% if Nifty_new < Nifty_prev %} <td style="background-color: red;">{{ record.price }}</td> {% else %}    <td style="background-color: rgb(90, 240, 90);">{{ record.Nifty_new }}</td>{% endif %}
            {% if record.Count <= 10 %} <td style="background-color: red;">{{record.sma}}</td> {% else %}    <td style="background-color: rgb(10, 255, 10);">{{record.Count}}</td>{% endif %}
            {% if  record.RSI < 1 %} <td style="background-color: red;">{{ record.RSI }}</td> {% else %}    <td style="background-color: rgb(2, 93, 2);">{{ record.RSI }}</td>{% endif %}
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div> -->

    
<!-- Write HTML code here -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TableView - Startup</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container">
  <h2 class="text-center"><u>RSI and SMA</u></h2><br>            
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>time</th>
        <th>RSI</th>
        <!-- <th>SMA_2_min</th>
          <th>SMA_3_min</th>
          <th>SMA_4_min</th>
          <th>SMA_5_min</th>
          <th>SMA_6_min</th> -->
          <!-- <th>SMA_14_min</th> -->
          <!-- <th>decsion 1 = buy -- 0 sell</th> -->
          <!-- <th>Analysis</th> -->
          <th>Signal 1= buy -- 0 sell RSI</th>
          <th>Signal 1= buy -- 0 sell ADX</th>
          <th>Signal 1= buy -- 0 sell --2 no trade final</th>
        <!-- <th>SMA_8_min</th>
        <th>SMA_9_min</th>
        <th>SMA_10_min</th>
        <th>SMA_11_min</th>
        <th>SMA_12_min</th>
        <th>SMA_13_min</th> -->
        <!-- <th>SMA_14_min</th>
        <th>SMA_15_min</th>
        <th>SMA_16_min</th>
        <th>SMA_17_min</th> -->
      </tr>
    </thead>
    <tbody>
    <!-- jinja2 Technique -->
    {% if d %}  
    {% for i in d reversed %}
    <!-- {{i}} -->
      <tr>
        <td>{{i.time}}</td>
        <td>{{i.RSI}}</td>
        <!-- <td>{{i.SMA_2}}</td>
          <td>{{i.SMA_3}}</td>
          <td>{{i.SMA_4}}</td>
          <td>{{i.SMA_5}}</td>
          <td>{{i.SMA_6}}</td> -->
          <!-- <td>{{i.SMA_7}}</td> -->
          <!-- <td>{{i.price}}</td> -->
          <td>{{i.signal}}</td>
          <td>{{i.signal_adx}}</td>
          <td>{{i.price}}</td>

      </tr>
    {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div>
  



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
