<!-- <h3>Hello, this is a simple Django webpage.</h3> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="60" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Auto trender</title>
  </head>
  <body>
<!-- <p>There have been {{ totPE2 }} views.</p> -->
<div style="display: flex;justify-content: center;align-items: center; margin: 20px;">

  <h1>S1: Auto Trender</h1>

  <!-- <h2>{{mydata}}</h2> -->
</div>
<div style="display: flex;justify-content: center;align-items: center; margin: 20px;">

  <a href="/s2">S2: Nifty Count strategy </a>

  <!-- <h2>{{mydata}}</h2> -->
</div>


    <div class="container">
      <!-- {{exp_date}} -->


      <table class="table table-bordered table-dark">
        <thead>
          <tr>

            <th  scope="col">entry_time</th>
            <th  scope="col">Nifty_entry  </th>
            <th  scope="col">Nifty_exit</th>
            <th  scope="col">exit_time</th>
            <th  scope="col">move</th>

          </tr>
        </thead>
        <tbody>
          {% for record in mydata %}
          <tr>

            <th scope="row">{{ record.date|date:'Y-m-d H:i:s' }}</th>
            <td style="background-color: rgba(255, 119, 0, 0.842);">{{record.entry_time}}</td> 
            <td style="background-color: rgba(255, 119, 0, 0.842);">{{record.Nifty_entry}}</td> 

            <td style="background-color: rgb(0, 174, 255);">{{record.Nifty_exit}}</td> 
            <td style="background-color: rgba(0, 255, 38, 0.561);">{{record.exit_time}}</td> 
            <td style="background-color: rgba(0, 255, 38, 0.561);">{{record.move}}</td> 
            <td>{{record.move}}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
